[data-theme=light], :root:not([data-theme=dark]) {
  --nav-background-color:  rgba(0, 0, 0, 0.1);
  --footer-background-color: rgba(0, 0, 0, 0,1);
  --primary: rgba(217, 28, 97, 1);
  --primary-hover: rgb(226, 59, 120);
  --form-element-focus-color: rgba(226, 59, 120, 0.2);
}

@media only screen and (prefers-color-scheme: dark) {
:root:not([data-theme]) {
  --primary: rgba(217, 28, 97, 1);
  --primary-hover: rgb(226, 59, 120);
  --nav-background-color:  rgba(0, 0, 0, 0.2);
  --footer-background-color: rgba(0, 0, 0, 0.2);
  --form-element-focus-color: rgba(226, 59, 120, 0.2);
}}

nav {
    background-color: var(--nav-background-color); 
    padding-left: 2em;
    padding-right: 2em;
}

footer {
    background-color: var(--footer-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lov3 {
    color: #d81b60;
    font-weight: bold;
}

.logo {
    height: 4rem;
    width: 4rem;
}

form fieldset {
    padding-bottom: 1em;
}

.hidden {
    display: none !important;
}

#resultcontainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 5px;
    /* border: 1px; */
    background-color: var(--card-background-color);
    /* border-color: rgb(0, 211, 35); */
    /* border-style: solid; */
    width: 100%;
}
#resultcontainer img {
    padding: 5px;
    margin-top: var(--block-spacing-vertical);
    margin-bottom: var(--block-spacing-vertical);
}
.field-title {
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    margin-top: var(--spacing);
    text-decoration: underline;
    width: 100%;
    /* text-decoration-color: beige; */
}
.img-link {
    /* margin-top: 2em; */
    display: flex;
    width: 100%;
    margin-bottom: var(--spacing);;
    margin-top: var(--spacing);;
}

.img-link > a {
    padding: var(--spacing);
    width: 100%;
    border-radius: 5px;
    border: 1px;
    border-style: solid;
    border-color: var(--primary-hover);
    background-color: var(--code-background-color);
    font-family: monospace;
    white-space: nowrap;
    overflow-x: auto;

}

.patchwork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
